<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://img.icons8.com/cotton/64/000000/time-machine.png" rel="shortcut icon" type="image/x-icon" />
    <title>RF Historic - Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
        .tabcontent {
            padding: 60px 12px 0px 12px;
        }

        body {
            font-family: -apple-system, sans-serif;

        }

        .tablinks .active {
            background-color: #666;
            color: white;
        }

        body {
            background-color: #fff;
        }

        .tile {
            width: 100%;
            float: left;
            margin: 0px;
            list-style: none;
            font-size: 28px;
            color: #FFF;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            margin-bottom: 6px;
            position: relative;
            text-align: center;
            color: white !important;
            height: 70px;
        }

        .tile.tile-fail {
            background: #fc6666 !important;
        }

        .tile.tile-pass {
            background: #2ecc71 !important;
        }

        .tile.tile-info {
            background: #389b91 !important;
        }

        .tile.tile-head {
            /* background: #777676!important; */
            background: rgb(96, 112, 112) !important;
        }

        .tile.tile-perf {
            background: rgb(80, 140, 189) !important;
        }

        .tile.tile-apass {
            background: rgb(96, 112, 112) !important;
        }

        a,
        a:hover {
            text-decoration: none;
            display: block;
        }

        span,
        .breadcrumb-item {
            font-size: 14px;
        }

        .border-right {
            border-right: 1px solid #ddd;
        }

        .borders {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            margin: -1px;
        }

        .border-left {
            border-left: 1px solid #ddd;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">RF Historic</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="tablinks active"><a href="./dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="tablinks"><a href="./ehistoric"><i class="fa fa-history"></i> History</a></li>
                    <li class="tablinks"><a href="./tmetrics"><i class="fa fa-flask"></i> Metrics</a></li>
                    <li class="tablinks"><a href="./flaky"><i class="fa fa-bolt"></i> Flaky</a></li>
                    <li class="tablinks"><a href="./search"><i class="fa fa-search"></i> Search</a></li>
                    <li class="tablinks"><a href="./compare"><i class="fa fa-sliders"></i> Compare</a></li>
                    <li class="tablinks"><a href="./query"><i class="fa fa-search-plus"></i> Query - &beta;</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
        window.onload = function () {
            {% for item in last_exe_pie_data %}
            createPieChart({{ item[0]}}, {{ item[1] }}, 'lastPieID', 'Last Execution Result:');
        {% endfor %}

        {% for item in last_ten_exe_pie_data %}
        createPieChart({{ item[0]}}, {{ item[1]}}, 'lastTenPieID', 'Last Execution Result:');
        {% endfor %}

        {% for item in last_thirty_exe_pie_data %}
        createPieChart({{ item[0]}}, {{ item[1]}}, 'lastThirtyPieID', 'Last Execution Result:');
        {% endfor %}

        {% for item in over_all_exe_pie_data %}
        createPieChart({{ item[0]}}, {{ item[1]}}, 'overAllPieID', 'Overall Execution Result:');
        {% endfor %}

        createLastTenExecutionTrendzBarGraph('lastTenExecutionTrendzID');
        createLastTenPerformanceTrendzLineGraph('lastTenPerfExecutionTrendzID');
		};
    </script>

    <div class="tabcontent">
        <div class="d-flex flex-column flex-md-row align-items-center p-1 mb-3 bg-light border-bottom shadow-sm">
            <h3 class="my-0 mr-md-auto font-weight-normal" style="text-transform: capitalize;">{{db_name}} - Dashboard
            </h3>
        </div>
        <hr>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><b>Execution Statistics:</a></b></li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-md-4 border-right">
                <span style="font-weight:bold; padding-left:55px;color:gray">Passed Tests:</span>
                <table style="width:100%;height:200px;text-align: center;">
                    <tbody>
                        <tr style="height:60%">
                            <td>
                                <table style="width:100%">
                                    <tbody>
                                        <tr style="height:100%">
                                            <td style="font-size:60px; color:#2ecc71">{{last_exe_pie_data[0][0]}}</td>
                                        </tr>
                                        <tr>
                                            <td><span style="color: #999999;font-size:12px">Recent</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="height:35%">
                            <td></td>
                        </tr>
                        <tr style="height:5%">
                            <td>
                                <table style="width:100%">
                                    <tbody>
                                        <tr style="height:70%;font-size:25px" align="center" valign="middle">
                                            <td style="width: 33%; color:red">{{execution_pass_data[0][1]}}</td>
                                            <td style="width: 33%; color:brown">{{execution_pass_data[0][2]}}</td>
                                            <td style="width: 33%; color:green">{{execution_pass_data[0][3]}}</td>
                                        </tr>
                                        <tr style="height:30%" align="center" valign="top">
                                            <td style="width: 33%"><span style="color: #999999;font-size:10px">Overall:
                                                    Min</span></td>
                                            <td style="width: 33%"><span
                                                    style="color: #999999;font-size:10px">Average</span></td>
                                            <td style="width: 33%"><span
                                                    style="color: #999999;font-size:10px">Max</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 borders">
                <span style="font-weight:bold; padding-left:55px;color:gray">Failed Tests:</span>
                <table style="width:100%;height:200px;text-align: center;">
                    <tbody>
                        <tr style="height:60%">
                            <td>
                                <table style="width:100%">
                                    <tbody>
                                        <tr style="height:100%">
                                            <td style="font-size:60px;color:#fc6666">{{last_exe_pie_data[0][1]}}</td>
                                        </tr>
                                        <tr>
                                            <td><span style="color: #999999;font-size:12px">Recent</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="height:35%">
                            <td></td>
                        </tr>
                        <tr style="height:5%">
                            <td>
                                <table style="width:100%">
                                    <tbody>
                                        <tr style="height:70%;font-size:25px" align="center" valign="middle">
                                            <td style="width: 33%; color:green">{{execution_fail_data[0][1]}}</td>
                                            <td style="width: 33%; color: brown">{{execution_fail_data[0][2]}}</td>
                                            <td style="width: 33%; color:red">{{execution_fail_data[0][3]}}</td>
                                        </tr>
                                        <tr style="height:30%" align="center" valign="top">
                                            <td style="width: 33%"><span style="color: #999999;font-size:10px">Overall:
                                                    Min</span></td>
                                            <td style="width: 33%"><span
                                                    style="color: #999999;font-size:10px">Average</span></td>
                                            <td style="width: 33%"><span
                                                    style="color: #999999;font-size:10px">Max</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 border-left">
                <span style="font-weight:bold; padding-left:55px;color:gray">Execution Time (min):</span>
                <table style="width:100%;height:200px;text-align: center;">
                    <tbody>
                        <tr style="height:60%">
                            <td>
                                <table style="width:100%">
                                    <tbody>
                                        <tr style="height:100%">
                                            <td style="font-size:60px;color:cadetblue">{{last_exe_pie_data[0][3]}}</td>
                                        </tr>
                                        <tr>
                                            <td><span style="color: #999999;font-size:12px">Recent</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="height:35%">
                            <td></td>
                        </tr>
                        <tr style="height:5%">
                            <td>
                                <table style="width:100%">
                                    <tbody>
                                        <tr style="height:70%;font-size:25px" align="center" valign="middle">
                                            <td style="width: 33%;color:green">{{execution_time_data[0][1]}}</td>
                                            <td style="width: 33%;color:brown">{{execution_time_data[0][2]}}</td>
                                            <td style="width: 33%;color:red">{{execution_time_data[0][3]}}</td>
                                        </tr>
                                        <tr style="height:30%" align="center" valign="top">
                                            <td style="width: 33%"><span style="color: #999999;font-size:10px">Overall:
                                                    Min</span></td>
                                            <td style="width: 33%"><span
                                                    style="color: #999999;font-size:10px">Average</span></td>
                                            <td style="width: 33%"><span
                                                    style="color: #999999;font-size:10px">Max</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><b>Executions Overview:</a></b></li>
            </ol>
        </nav>
        <div class='row'>
            <div class="col-md-3">
                <div class="col-md-12">
                    <span style="font-weight:bold">Last Execution Result:</span>
                    <div id="lastPieID" style="height:300px;width:auto;"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <span style="font-weight:bold">Last 10 Execution Results:</span>
                    <div id="lastTenPieID" style="height:300px;width:auto;"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <span style="font-weight:bold">Last 30 Execution Results:</span>
                    <div id="lastThirtyPieID" style="height:300px;width:auto;"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-12">
                    <span style="font-weight:bold">Overall Execution Results:</span>
                    <div id="overAllPieID" style="height:300px;width:auto;"></div>
                </div>
            </div>
        </div>
        <hr>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><b>Executions Trends:</a></b></li>
            </ol>
        </nav>
        <div class='row'>
            <div class="col-md-12">
                <div class="col-md-12">
                    <span style="font-weight:bold">Last 10 Executions Trends:</span>
                    <div id="lastTenExecutionTrendzID" style="height:300px;width:auto;"></div>
                </div>
            </div>
        </div>
        <br>
        <div class='row'>
            <div class="col-md-12">
                <div class="col-md-12">
                    <span style="font-weight:bold">Last 10 Executions Performance Trends:</span>
                    <div id="lastTenPerfExecutionTrendzID" style="height:300px;width:auto;"></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <p class="text-muted" style="text-align:center; font-size:9px; color:gray; width: 100%;">
                <a href="https://github.com/adiralashiva8/robotframework-historic" style="color:gray"
                    target="_blank">robotframework-historic</a>
            </p>
        </div>
    </div>

    <script>
        function createLastTenExecutionTrendzBarGraph(ChartID) {
            var passArray = [];
            var failArray = [];
            var catgArray = [];

            {% for item in last_thirty_data %}
                catgArray.push({{item[0]}});
                passArray.push({{item[1]}});
                failArray.push({{item[2]}});
            {% endfor %}

        var options = {
				series: [{
				  name: 'Pass',
				  data: passArray
				}, {
				  name: 'Fail',
				  data: failArray
				}],
				  chart: {
				  type: 'bar',
				  height: 350,
				  stacked: true,
				  zoom: {
					enabled: true
				  }
				},
				responsive: [{
				  breakpoint: 480,
				  options: {
					legend: {
					  position: 'bottom',
					  offsetX: 10,
					  offsetY: 0
					}
				  }
				}],
				plotOptions: {
				  bar: {
					dataLabels: {
					  position: 'top',
					  distributed: true
					}
				  },
				  dataLabels: {
					enabled: true,
					style: {
						colors: ['#333']
					},
					offsetX: 30
				  },
				},
				colors: ['#2ecc71','#fc6666'],
				xaxis: {
				  categories: catgArray,
				  tickPlacement: 'on'
				},
				yaxis: {
				  title: {
					text: 'Test Cases'
				  }
				},
				fill: {
				  opacity: 0.9
				},
				tooltip: {
				  y: {
					formatter: function (val) {
					  return val + " Tests"
					}
				  },
				  x: {
					show: false
				  }
				}
				};

				var chart = new ApexCharts(document.getElementById(ChartID), options);
				chart.render();
        }
    </script>
    <script>
        function createLastTenPerformanceTrendzLineGraph(ChartID) {
            var dataArray = [];
            var catgArray = [];
            {% for item in last_thirty_data %}
                dataArray.push({{item[3]}});
                catgArray.push({{item[0]}});
            {% endfor %}

        var options = {
            chart: {
                height: 350,
                type: "area"
            },
            dataLabels: {
                enabled: true,
                style: {
                    fontWeight: 'normal',
                },
            },
            series: [
                {
                    name: "Time",
                    data: dataArray
                }
            ],
            fill: {
                type: "gradient",
                gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.7,
                    opacityTo: 0.9,
                    stops: [0, 90, 100]
                }
            },
            xaxis: {
                categories: catgArray
            },
            yaxis: {
                title: {
                    text: 'Duration (min)'
                }
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return val + " (min)"
                    }
                },
                x: {
                    show: false
                }
            }
        };

        var chart = new ApexCharts(document.getElementById(ChartID), options);
        chart.render();
        }
    </script>

    <script>
        function createPieChart(passed_count, failed_count, ChartID, ChartName) {
            var options = {
                series: [passed_count, failed_count],
                labels: ["Pass", "Fail"],
                chart: {
                    width: 330,
                    type: 'donut',
                },
                legend: {
                    show: true,
                    position: 'top',
                    horizontalAlign: 'left'
                },
                dataLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'normal',
                    },
                },
                colors: ['#2ecc71', '#fc6666'],
                responsive: [{
                    breakpoint: 480,
                }]
            };

            var chart = new ApexCharts(document.getElementById(ChartID), options);
            chart.render();
        }
    </script>
</body>

</html>