<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef" />
        <meta name="theme-color" content="#4188c9" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <link href="https://img.icons8.com/cotton/64/000000/time-machine.png" rel="shortcut icon" type="image/x-icon"/>
        <title>RF Historic - Delete DB</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext" />
        <script src="/static/assets/js/require.min.js"></script>
        <script>
            requirejs.config({
                baseUrl: "../",
            });
        </script>
        <!-- Dashboard Core -->
        <link href="/static/assets/css/dashboard.css" rel="stylesheet" />
        <script src="/static/assets/js/dashboard.js"></script>
    </head>

    <body class="">
        <div class="page">
            <div class="page-single">
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-status bg-red"></div>
                        <div class="card-header">
                          <h3 class="card-title" style="font-weight:bold">Delete Project?</h3>
                        </div>
                        <div class="card-body">
                            <p class="text-muted">Would you like to delete <b style="color:red">{{db_name}}</b>? You cannot undo this.</p>
                        </div>
                        <div class="card-footer">
                            <!-- <a href="#" class="btn btn-primary btn-sm">Action 1</a>
                            <a href="#" class="btn btn-secondary btn-sm ml-2">Action 2</a> -->
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <div>
                                            <a href="/home" type="button" class="btn btn-secondary">Cancel</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="text-right">
                                            <a href="./delete" type="button" class="btn btn-danger">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            <table>
                        </div>
                    </div>                
                  
                </div>
            </div>
        </div>
    </body>
</html>