<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef" />
        <meta name="theme-color" content="#4188c9" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <link href="https://img.icons8.com/cotton/64/000000/time-machine.png" rel="shortcut icon" type="image/x-icon"/>
        <title>RF Historic - Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext" />
        <script src="/assets/js/require.min.js"></script>
        <script>
            requirejs.config({
                baseUrl: ".",
            });
        </script>
        <!-- Dashboard Core -->
        <link href="/assets/css/dashboard.css" rel="stylesheet" />
        <script src="/assets/js/dashboard.js"></script>

        <style>
            .text {
                display: block;
                width: 220px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .card-img-top {
                width: 100%;
                height: 10vw;
                object-fit: fill;
            }

            .box{
                padding:30px 0px;
            }
        </style>
    </head>

    <body class="">
        <div class="page">
            <div class="page-single">
                <div class="container box">
                    <nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
                        <p class="page-title">RF Historic</p>
                        <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="btn btn-primary btn-block" type="button" href="/newdb"><i class="fa fa-plus-circle"></i> <b>New Project</b></a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="row row-cards row-deck">
                        {% for item in data %}
                            <div class="col-sm-6 col-xl-3">
                                <div class="card">
                                    <a href="#">
                                        <img src="{{item[3]}}" class="card-img-top" alt="logo" title="{{item[2]}}">
                                    </a>
                                    <div class="card-body d-flex flex-column">
                                        <h4 class="card-title text" style="text-transform:capitalize;" title="{{item[1]}}">{{item[1]}}</h4>
                                        <div class="text-muted" title="Last Updated: {{item[5]}}"><i class="fa fa-clock-o fav"></i> {{item[5]}}</div>
                                        <table class="text-muted" style="width:100%;text-align:center;">
                                            <tbody>
                                                <tr style="font-size:28px;">
                                                    <td style="color:rgb(80, 1, 80)">{{item[6]}}</td>
                                                    <td style="color:green">{{item[7]}}</td>
                                                </tr>
                                                <tr style="font-size:12px;">
                                                    <td style="color:silver">Total Executions</td>
                                                    <td style="color:silver">Recent Pass %</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer">
                                        <a type="button" href="{{item[1]}}/deldbconf" class="btn btn-light float-left btn-sm"><i class="fa fa-trash-o"></i> Delete</a>
                                        <a type="button" href="{{item[1]}}/dashboardRecent" class="btn btn-light float-right btn-sm"><i class="fa fa-play"></i> View</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                  
                </div>
            </div>
        </div>
    </body>
</html>
