<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://img.icons8.com/cotton/64/000000/time-machine.png" rel="shortcut icon" type="image/x-icon" />
<title>RF Historic</title>
<style>

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        background: -moz-linear-gradient(right,  #507ba3 0%, #53e3a6 100%);
        background: -webkit-gradient(linear, right top, left top, from(#50a3a2), to(#53e3a6));
        overflow: hidden;
        color: white;
    }

    .push {
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
    }
</style>

<div class="container">
    <!-- Feature Cards -->
    <section class="d-flex" id="feature-cards">
        <div class="container d-flex justify-content-center">
            <div class="row align-items-center justify-content-center">

                <div class="col-12 align-self-center">
                    <div class="row">
                        <div class="col-12 col-lg-7 mx-auto text-center">
                            <h2 class="display-4"></h2>
                            <p class="text-muted lead mb-5"></p>
                        </div>
						<div class="col-12 col-lg-7 mx-auto text-center">
                            <h2 class="display-4"></h2>
                            <p class="text-muted lead mb-5"></p>
                        </div>
						<div class="col-12 col-lg-7 mx-auto text-center">
                            <h2 class="display-4"></h2>
                            <p class="text-muted lead mb-5"></p>
                        </div>
						<div class="col-12 col-lg-7 mx-auto text-center">
                            <h2 class="display-4"></h2>
                            <p class="text-muted lead mb-5"></p>
                        </div>
                        <div class="col-md-12 mx-auto text-center">
                            <h2 class="display-4">Welcome to RF Historic</h2>
                            <p class="text-light">Custom report of historical execution results.</p>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <a class="btn btn-light push" href="/home" type="button" style="width:50%;align:center">Get Started »</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <!-- <a class="btn btn-light push" href="/home" type="button" style="width:50%;align:center">Get Started »</a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <span style="align:center">&#9733; us if you &#9825; it</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
</div>