<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef" />
        <meta name="theme-color" content="#4188c9" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <link href="https://img.icons8.com/cotton/64/000000/time-machine.png" rel="shortcut icon" type="image/x-icon" />
        <title>RF Hisoric - Create DB</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext" />
        <script src="/assets/js/require.min.js"></script>
        <script>
            requirejs.config({
                baseUrl: "{{ url_for('static',filename='') }}",
            });
        </script>
        <!-- Dashboard Core -->
        <link href="/assets/css/dashboard.css" rel="stylesheet" />
        <script src="/assets/js/dashboard.js"></script>
        <script type="text/javascript">
            function blockSpecialChar(e) {
                var k;
                document.all ? (k = e.keyCode) : (k = e.which);
                return (k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || k == 95 || (k >= 48 && k <= 57);
            }
        </script>
        <script type="text/javascript">
            function forceLower(strInput) {
                strInput.value = strInput.value.toLowerCase();
            }
        </script>
    </head>
    <body>
        <div class="page">
            <div class="page-single">
                <div class="container">
                    <div class="row">
                        <div class="col col-md-6 mx-auto">
                            <form id="db-form" class="card" action="" method="post">
                                <div class="card-body p-6">
                                    <div class="page-header">
                                        <h1 class="page-title">Create Project</h1>
                                    </div>
                                    <div class="form-group">
                                        <label for="dbname" class="form-label">Project Name</label>
                                        <input type="text" name="dbname" id="dbname" class="form-control txt" onkeypress="return blockSpecialChar(event)" placeholder="Enter Name" />
                                    </div>
                                    <ul style="color: silver;">
                                        <li>Avoid space & special char in name</li>
                                        <li>Avoid duplicate names</li>
                                        <li>Avoid using number in first character</li>
                                    </ul>
                                    <div class="form-group">
                                        <label for="dbdesc" class="form-label">Project Description</label>
                                        <input type="text" name="dbdesc" id="dbdesc" class="form-control" placeholder="Enter Description" />
                                    </div>
                                    <div class="form-group">
                                        <label for="dbimage" class="form-label">Project Image</label>
                                        <input type="text" name="dbimage" id="dbimage" onclick="this.select();" value="https://i.ibb.co/FqtQyC5/rfh.png" class="form-control" />
                                    </div>
                                    <div class="form-footer btn-list mt-4 text-right">
                                        <a href="/home" type="button" class="btn btn-secondary btn-space">Cancel</a>
                                        <button id="submit" type="submit" disabled="disabled" class="btn btn-primary btn-space">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var submitButton = document.getElementById("submit");
            var textField = document.getElementById("dbname");

            textField.onkeyup = function () {
                if (textField.value == "") {
                    submitButton.disabled = true;
                } else {
                    submitButton.disabled = false;
                }
            };
        </script>
    </body>
</html>