{% if (error_message != "") %}
    <div class="alert alert-icon alert-danger" role="alert">
        <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> {{error_message}}
    </div>
{% endif %} 
{%- for item in tree.children recursive %}
     <div class="well well-sm">
        <li>
            {{ item.name }}
            <pre>{{ item.contents }}</pre>
            {%- if item.children -%}
                <ul>{{ loop(item.children) }}</ul>
            {%- endif %}
        </li>
    </div>
{%- endfor %}